/* index.css */

/* Reseteo básico de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente global */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Asegura que la aplicación tome todo el espacio disponible */
#root {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}
